* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  height: 46px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 20;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block; /* in trÃªn 1 hÃ ng */
}

#nav li {
  position: relative; /*  */
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
}

#nav > li:hover > a {
  color: black;
  background-color: #ccc;
}

#nav .sub-nav {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* bÃ³ng má» */
}

#nav .sub-nav li {
  list-style: none;
}

#nav .sub-nav li a {
  text-decoration: none;
  color: black;
  width: 100%;
  line-height: 38px;
}

#nav .sub-nav li:hover a {
  color: black;
  background-color: #ccc;
}

#nav li:hover .sub-nav {
  display: block;
}

.ti-angle-down {
  font-size: 14px;
}
#header .search {
  float: right;
  color: white;
  font-size: 20px;
  line-height: 46px;
  padding: 0 20px;
  cursor: pointer; /* css con trá» */
}

#header .search:hover {
  background-color: red;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Segoe UI, Arial, sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin: 10px 0;
  letter-spacing: 10px;
}
.p1 {
  margin: 20px 0;
  text-align: center;
  color: rgb(131, 126, 126);
  font-style: italic;
}
#contact {
  width: 800px;
  height: 400px;
  margin: 20px auto;
  padding-top: 50px;
}

#location {
  padding-top: 20px;
  width: 400px;
  display: inline-block;
}

.loca {
  font-size: 18px;
  font-weight: 200;
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
}

#information {
  padding-top: 20px;
  width: 400px;
  float: right;
}

#nameI,
#email {
  font-size: 15px;
  height: 35px;
  width: 175px;
  color: rgb(127, 124, 124);
  padding-left: 10px;
  margin: 0 10px 10px 0;
  border: 1px solid rgb(194, 190, 190);
}

#message {
  font-size: 15px;
  padding-left: 10px;
  height: 35px;
  width: 363px;
  color: rgb(127, 124, 124);
  border: 1px solid rgb(194, 190, 190);
}

#send {
  margin: 15px 0 0 293px;
  background-color: black;
  color: white;
  font-size: 15px;
  width: 70px;
  height: 40px;
}
